  /* Style the navbar */
  .navbar {
    /* overflow: hidden; */
    overflow: visible;
    background-color: black;
    position: fixed;
    height: 60px;
    top: 0;
    width: 1080px;
    border-bottom: 1px solid #444;
    /* max-width: 2160px; */
  }
  
  /* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  /* .details-parent {
    padding-left: 3rem;
    padding-right: 3rem;
  } */

  .details-child-30 {
    display: inline-block;
    /* float: left; */
    width: 20%;
    margin-left: 1rem;
    margin-right: 1rem;
    vertical-align: top;
}

.details-child-40 {
  display: inline-block;
  /* float: left; */
  width: 40%;
  margin-left: 1rem;
  margin-right: 1rem;
  vertical-align: top;
}

.details-child-right {
  display: inline-block;
  /* float: center; */
  width: 30%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.select {
    background-color: white;
    height: 46px;
    padding: 8px;
    margin: 8px;
}

.banner {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    vertical-align: top;
    /* padding-top: 0.5rem; */
    padding-top: 0.75rem;

    margin-top: 0px;
    /* padding-left: 1rem; */
    padding-left: 3rem;
    color: white;
}